[submodule "deps/che"]
	path = deps/che
	url = https://github.com/codenvy/che.git
	branch = 3.9.x
[submodule "deps/che-core"]
	path = deps/che-core
	url = https://github.com/codenvy/che-core.git
	branch = 3.9.x
[submodule "deps/user-dashboard"]
	path = deps/user-dashboard
	url = https://github.com/codenvy/user-dashboard.git
	branch = master
[submodule "deps/cli"]
	path = deps/cli
	url = https://github.com/codenvy/cli.git
